.ceil__common {
    background-color: rgb(56, 75, 69);
    outline: 1px solid rgb(41, 41, 41);
    font-size: .6em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ceil__live {
    background-color: rgb(37, 221, 163);
}
.ceil__hidden {
    visibility: hidden;
}